<!DOCTYPE html>
<html>
<head>
  <title>Kanaui</title>
  <%= stylesheet_link_tag    "kanaui/application", :media => "all" %>
  <%= javascript_include_tag "kanaui/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
