<div class="search">

  <div class="column-block">

    <h1>Configured reports
      <%= link_to '&nbsp;<i class="fa fa-plus-square"></i>'.html_safe, new_report_path %>
    </h1>

    <%= render :partial => 'kanaui/reports/reports_table', :locals => {:reports => @reports} %>

  </div>

  <hr/>

  <h1><%= link_to 'Dashboard', dashboard_index_path %></h1>

</div>
