<div class="row-fluid">
  <!--             MENU        -->
  <div class="span2">
    <h4>Available Reports:</h4>
    <ul class="nav nav-tabs nav-stacked">
      <% @reports.each do |r| %>
          <li><%= link_to r['reportName'], kanaui_engine.dashboard_index_path(:params => {'startDate' => @startDate, 'endDate' => @endDate, 'report1' => r['reportName']}), :class => "truncate-text" %></li>
      <% end %>
    </ul>
  </div>

  <!--             DASHBOARD        -->
  <div class="span7">
    <div class="row-fluid">
      <div id='loading-spinner'></div>
      <div id="chartAnchor"></div>
    </div>
  </div>
  <div class="span3">
    <div class="row-fluid">
      <form class="form-horizontal">
        <div class="control-group">
          <label class="control-label" for="start-date">Start date</label>

          <div class="controls">
            <input type="text" class="input-small" id="start-date"
                   data-date-format="yyyy-mm-dd">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="end-date">End date</label>

          <div class="controls">
            <input type="text" class="input-small" id="end-date"
                   data-date-format="yyyy-mm-dd">
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <button type="button" class="btn btn-default btn-sm" id="refresh-graphs">
              <span class="icon-refresh"></span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
