/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_tree .
*/

.kenui-analytics-dashboard-index .analytics-header {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 0;
  border-bottom: 0.0625rem solid #e9eaeb;
}

.kenui-analytics-dashboard-index .analytics-header h2 {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 2.5rem;
  color: #414651;
  margin-bottom: 1.25rem;
}

.kenui-analytics-dashboard-index .trigger-invoice-box button {
  margin-left: 0.3125rem;
  padding: 0.5rem 1rem;
}

.kenui-analytics-dashboard-index .refresh-button {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
}

.kenui-analytics-dashboard-index .refresh-button img {
  filter: brightness(0) saturate(100%) invert(78%) sepia(47%) saturate(491%)
    hue-rotate(170deg) brightness(100%) contrast(102%);
}

.kenui-analytics-dashboard-index .custom-date-input-wrapper {
  padding: 0 0.625rem !important;
  border: 0.0625rem solid #d5d7da !important;
  border-radius: 0.375rem;
  cursor: pointer;
  max-width: 8.5rem;
}

.kenui-analytics-dashboard-index .custom-date-input-wrapper svg {
  margin-right: 0.5rem;
  flex-shrink: 0;
}

.kenui-analytics-dashboard-index .custom-date-input-wrapper input {
  border: none;
  outline: none;
  box-shadow: none;
  padding: 0 !important;
  font-size: 1rem;
  color: #6b7280;
  height: 2.5rem;
}

.kenui-analytics-dashboard-index .custom-date-input-wrapper input::placeholder {
  color: #717680;
}

.kenui-analytics-dashboard-index .custom-date-input-wrapper input.form-control {
  border: none;
  box-shadow: none;
  background-color: transparent;
}

.kenui-analytics-dashboard-index select.form-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: block;
  height: 2.5rem;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 0.0625rem solid #ced4da;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  background-image: url("data:image/svg+xml;utf8,<svg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M4 6L8 10L12 6' stroke='%23A4A7AE' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/></svg>");
  background-repeat: no-repeat;
  background-position: right 0.625rem center;
  background-size: 1rem 1rem;
  padding-right: 1.875rem;
  max-width: 10rem;
}

.kenui-analytics-dashboard-index select.form-select:focus {
  box-shadow: none;
  outline: none;
  border-color: #1570ef;
}

.kenui-analytics-dashboard-index .well ul {
  list-style-type: none;
  margin-top: 0.625rem;
  background: #fafafa;
  width: fit-content;
  padding: 0.625rem;
  border-radius: 0.5rem;
}

.kenui-analytics-dashboard-index .well ul li a {
  color: #717680;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  padding: 0.625rem;
}

.kenui-analytics-dashboard-index .analytics-header b,
.kenui-analytics-dashboard-index .analytics-header b a {
  text-decoration: none;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #414651;
}

.kenui-analytics-dashboard-index .custom-tabs {
  background-color: #fafafa;
  border: 0.0625rem solid #e9eaeb;
  border-radius: 0.375rem;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  margin-bottom: 1.5rem;
  padding: 0.25rem;
  width: fit-content;
  height: 2.5rem;
}

.kenui-analytics-dashboard-index .custom-tabs a.custom-tab {
  background: transparent;
  border: none;
  font-weight: 500;
  font-size: 0.875rem;
  color: #717680;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  cursor: pointer;
  height: 2rem;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.kenui-analytics-dashboard-index .custom-tabs .activelink {
  color: #414651 !important;
  background-color: #ffffff !important;
  box-shadow: 0 0.0625rem 0.188rem rgba(10, 13, 18, 0.1);
}

.kenui-analytics-dashboard-index #chartAnchor {
  background: #ffffff;
}

.kenui-analytics-dashboard-index #chartAnchor svg {
  background: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

.kenui-analytics-dashboard-index .grid line {
  stroke: transparent;
  stroke-width: 0.0625rem;
  stroke-opacity: 1;
  shape-rendering: crispEdges;
}

.kenui-analytics-dashboard-index .grid:nth-of-type(2) line {
  stroke: #f3f4f6;
  stroke-opacity: 0.6;
}

.kenui-analytics-dashboard-index .grid path {
  stroke: none;
  fill: none;
}

.kenui-analytics-dashboard-index .axis line,
.kenui-analytics-dashboard-index .axis path {
  stroke: #f5f5f5;
  stroke-width: 0.0625rem;
  shape-rendering: crispEdges;
}

.kenui-analytics-dashboard-index .y.axis path {
  stroke: transparent !important;
  stroke-width: 0.0625rem;
}

.kenui-analytics-dashboard-index .y.axis line,
.kenui-analytics-dashboard-index .y.axis path {
  stroke: #f5f5f5;
  stroke-width: 0.0625rem;
}

.kenui-analytics-dashboard-index .axis text {
  font-size: 0.75rem;
  fill: #6b7280;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

.kenui-analytics-dashboard-index .line {
  fill: none;
  stroke-width: 0.125rem;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.kenui-analytics-dashboard-index .chart-legend {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.kenui-analytics-dashboard-index .chart-legend circle {
  stroke: none;
}

.kenui-analytics-dashboard-index .information {
  fill: #ffffff;
  stroke: #f5f5f5;
  stroke-width: 0.0625rem;
  filter: drop-shadow(0 0.25rem 0.375rem rgba(0, 0, 0, 0.1));
  rx: 0.25rem;
}

.kenui-analytics-dashboard-index .info-title__bg {
  fill: #f9fafb;
  stroke: #f5f5f5;
  stroke-width: 0.0625rem;
  rx: 0.25rem 0.25rem 0 0;
}

.kenui-analytics-dashboard-index .info-title {
  font-size: 1rem;
  font-weight: 600;
  fill: #374151;
}

/* app/views/kanaui/reports/edit.html.erb */

.kanaui-reports-edit .new-report-title {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.75rem;
  letter-spacing: 0;
  color: #1b1c1e;
  padding: 1.5rem 0;
}

.kanaui-reports-edit .icon-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 0.0625rem solid #d5d7da;
  border-radius: 0.375rem;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.25rem;
}

.kanaui-reports-edit .icon-container img {
  width: 1rem;
  height: 1rem;
}

.kanaui-reports-edit .form-control {
  border-radius: 6px;
}

.kanaui-reports-edit .form-group select.form-control {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4 6L8 10L12 6" stroke="%23A4A7AE" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  background-repeat: no-repeat;
  background-position: right 0.625rem center;
  background-size: 1rem 1rem;
  padding-right: 1.875rem;
}

.kanaui-reports-edit select.form-control:focus {
  border-color: #1570ef !important;
  box-shadow: none;
  outline: none;
}

.kanaui-reports-edit .control-label {
  font-size: 0.875rem !important;
  font-weight: 500 !important;
  line-height: 1.25rem !important;
  color: #414651 !important;
}

.kanaui-reports-edit textarea.form-control {
  height: 10rem !important;
}

.kanaui-reports-edit textarea.form-control:focus {
  border-color: #1570ef !important;
  outline: 0 !important;
  box-shadow: none !important;
}

.kanaui-reports-edit .form-group span {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #535862;
}

/* app/views/kanaui/reports/index.html.erb */

.kanaui-reports-index .configured-reports {
  max-width: 80rem;
  width: 100%;
}

.kanaui-reports-index .configured-reports .configured-reports-header {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 0;
  border-bottom: 0.0625rem solid #e9eaeb;
}

.kanaui-reports-index .configured-reports .configured-reports-header h2 {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: #414651;
  margin-bottom: 1.25rem;
}

.kanaui-reports-index th {
  padding: 0.375rem 1.625rem 0.375rem 0.75rem;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.125rem;
  letter-spacing: 0;
  color: #717680;
  text-transform: capitalize;
}

.kanaui-reports-index td {
  font-weight: 500 !important;
  font-size: 0.875rem !important;
  padding: 1rem 0.5rem !important;
  line-height: 1.125rem !important;
  text-align: start;
  color: #535862 !important;
  text-transform: capitalize !important;
}

.kanaui-reports-index td a {
  color: #175cd3 !important;
}

.kanaui-reports-index .dataTables_scrollHeadInner th::after {
  content: "" !important;
  display: inline-block !important;
  width: 0.75rem !important;
  height: 0.75rem !important;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12' fill='none'%3E%3Cpath d='M3 5.5L6 2.5L9 5.5' stroke='%23A4A7AE' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 0.75rem 0.75rem !important;
  position: absolute !important;
  right: 0.5rem !important;
  top: 45% !important;
  transform: translateY(-50%) !important;
}

.kanaui-reports-index .dataTables_scrollHeadInner th::before {
  content: "" !important;
  display: inline-block !important;
  width: 0.75rem !important;
  height: 0.75rem !important;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12' fill='none'%3E%3Cpath d='M3 6.5L6 9.5L9 6.5' stroke='%23A4A7AE' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 0.75rem 0.75rem !important;
  position: absolute !important;
  right: 0.5rem !important;
  bottom: 45% !important;
  transform: translateY(50%) !important;
}

.kanaui-reports-index .table-button {
  background-color: transparent !important;
  border: none !important;
  padding: 0 !important;
  flex-direction: row-reverse;
  text-transform: capitalize;
  gap: 0.0625rem;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0;
  margin-left: 0.75rem;
  text-decoration: none;
}

.kanaui-reports-index .delete-button {
  color: #d92d20 !important;
}

.kanaui-reports-index .edit-button {
  color: #535862 !important;
}

.kanaui-reports-index .refresh-button {
  color: #175cd3 !important;
}

.kanaui-reports-index .modal-content {
  border-radius: 1rem;
  min-width: 40.5rem;
}

.kanaui-reports-index .modal-body {
  padding-bottom: 0.375rem !important;
  padding-top: 1.25rem !important;
}

.kanaui-reports-index .modal-header {
  padding: 1.5rem 1.5rem 1rem 1.5rem !important;
}

.kanaui-reports-index .modal-footer {
  padding: 1rem 1.5rem 1.5rem 1.5rem !important;
}

.kanaui-reports-index .modal-title {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: #181d27;
}

.kanaui-reports-index .close-button {
  background: transparent;
  padding: 0;
  margin-top: -1.25rem;
}

.kanaui-reports-index .close-button:hover {
  background: transparent;
  padding: 0;
}

.kanaui-reports-index .modal-header .icon-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 0.0625rem solid #d5d7da;
  border-radius: 0.375rem;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.25rem;
}

.kanaui-reports-index .modal-header .icon-container img {
  width: 1.25rem;
  height: 1.25rem;
}

.kanaui-reports-index .dataTables_wrapper.no-footer .dataTables_scrollBody {
  border-bottom: none !important;
}

.kanaui-reports-index p {
  margin-bottom: 0 !important;
}

.kanaui-reports-index pre {
  padding: 0.625rem;
  background: #f4f4f4;
  border-radius: 0.5rem;
  overflow: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* app/views/kanaui/reports/new.html.erb */

.kanaui-reports-new .new-report-title {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.75rem;
  letter-spacing: 0;
  color: #1b1c1e;
  padding: 1.5rem 0;
}

.kanaui-reports-new .icon-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 0.0625rem solid #d5d7da;
  border-radius: 0.375rem;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.25rem;
}

.kanaui-reports-new .icon-container img {
  width: 1rem;
  height: 1rem;
}

.kanaui-reports-new .form-control {
  border-radius: 0.375rem;
}

.kanaui-reports-new .form-group select.form-control {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4 6L8 10L12 6" stroke="%23A4A7AE" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  background-repeat: no-repeat;
  background-position: right 0.625rem center;
  background-size: 1rem 1rem;
  padding-right: 1.875rem;
}

.kanaui-reports-new select.form-control:focus {
  border-color: #1570ef !important;
  box-shadow: none;
  outline: none;
}

.kanaui-reports-new .control-label {
  font-size: 0.875rem !important;
  font-weight: 500 !important;
  line-height: 1.25rem !important;
  color: #414651 !important;
}

.kanaui-reports-new textarea.form-control {
  height: 10rem !important;
}

.kanaui-reports-new textarea.form-control:focus {
  border-color: #1570ef !important;
  outline: 0 !important;
  box-shadow: none !important;
}

.kanaui-reports-new .form-group span {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #535862;
}

/* app/views/kanaui/settings/index.html.erb */

.kanaui-settings-index .analytics-settings-title {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.75rem;
  letter-spacing: 0;
  color: #1b1c1e;
  padding: 1.5rem 0;
}

.kanaui-settings-index .icon-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 0.0625rem solid #d5d7da;
  border-radius: 0.375rem;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.25rem;
}

.kanaui-settings-index .icon-container img {
  width: 1rem;
  height: 1rem;
}

.kanaui-settings-index .form-control {
  border-radius: 0.375rem;
}

.kanaui-settings-index .control-label {
  font-size: 0.875rem !important;
  font-weight: 500 !important;
  line-height: 1.25rem !important;
  color: #414651 !important;
}
