.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.reports-options{
  overflow-y: scroll;
  max-height: 90vh;
}

.nav-element{
  overflow-x: hidden;
  text-overflow: ellipsis;
  padding-left: 0;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: steelblue;
  stroke: blue;
}

@media (max-width: 1000px){
  .reports-options{
    max-height: 20vh;
  }
}

.chart_values{
  font-size: 14px;
  font-weight: bold;
}

.chart-title{
  padding: 20px;
  text-indent: 30px;
}

.nav-element.current{
  background-color: rgba(100,100,200,0.2);
}
