/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require datepicker
 *= require_tree .
*/

body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.reports-options{
  overflow-y: scroll;
  max-height: 90vh;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: steelblue;
  stroke: blue;
}

@media (max-width: 1000px){
  .reports-options{
    max-height: 20vh;
  }
}

.chart_values{
  font-size: 14px;
  font-weight: bold;
}

.chart-title{
  padding: 20px;
  text-indent: 30px;
}

.nav-element.current{
  background-color: rgba(100,100,200,0.2);
}
